*{
  margin: 0;
  padding: 0;
}

#container {
  margin: 30px 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#background{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #292828;
  width: 70vw;
  height: 55vh;

  border-radius: 20px;
  border: .5px rgba(101, 55, 116, 0.22) solid;
  box-shadow: #653774 0px 20px 30px -10px;
  box-shadow: rgb(101, 55, 116, 0.25) 0px 14px 28px, rgba(101, 55, 116, 0.22) 0px 10px 10px;
}

h2{
  margin: 0 0 10px 0;
  font-weight: bolder;
}

img{
  width: 75%;
  border: 2.5px #653774 solid;
  border-radius: 25%;
  margin: 0 0 10px 0;
}

h3{
  font-size: large;
  margin: 10px 0 5px 0;
}

h4{
  font-size: 1em;
  }