*{
  margin: 0;
  padding: 0;
}

#container {
  margin: 30px 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container a {
  text-decoration: none;
}

.toolbar{
  width: 100%;
  height: 100%;
  --background: #292828;
  --color: white;
}

#background{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  background-color: #292828;
  width: 70vw;
  height: 60vh;

  border-radius: 20px;
  border: .5px rgba(101, 55, 116, 0.22) solid;
  box-shadow: #653774 0px 20px 30px -10px;
  box-shadow: rgb(101, 55, 116, 0.25) 0px 14px 28px, rgba(101, 55, 116, 0.22) 0px 10px 10px;
}

h2{  
  font-size: clamp(1.2rem, 1.5vw + 0.1rem, 3rem);
  color: white;
  margin: 0 0 10px 0;
  font-weight: bolder;
}

#mypic{
  width: 50vw;
  max-width: 390px;
  min-width: 170px;

  height: auto;

  border: 2.5px #653774 solid;
  border-radius: 25%;
  margin: 0 0 10px 0;
}

h3{
  color: white;
  font-size: large;
  margin: 10px 0 1px 0;
}

h4{
  color: white;
  font-size: 1em;
}


#background-content{
  width: 100%;
  height: 100%;
  background-color: #121212;
}

#icons{
  margin: 15px 0 0 0;

  width: 100%;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#icons img{
  width: 22px;
}